{% extends 'layout.html' %}

{% block toolbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% block tools %}
          {% endblock %}
        </ul>
        <div class="navbar-text">
         {% block search %}
         {% endblock %}
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}

{% endblock %}
