{% extends 'employee-layout.html' %}
{% load static %}

{% block tools %}
<a href="{% url 'teacher-create' %}" data-bs-toggle="tooltip" data-bs-placement="top"
title="Pridėti mokytoja">
<img style="width: 25px; transform: rotate(45deg);" src="{% static 'images/cross-red.svg' %}"
  alt="create" />
</a>
{% endblock %}

{% block search %}
<form class="d-flex" method="GET" action="{% url 'teacher-list' %}">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" />
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vardas</th>
      <th scope="col">Pavardė</th>
      <th scope="col">Gimimo metai</th>
      <th scope="col">Telefonas</th>
      <th scope="col">Paštas</th>
      <th scope="col">Adresas</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for teacher in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>
        <a href="{% url 'teacher-detail' teacher.id %}">
          {{ teacher.first_name }}
        </a>
      </td>



      <td>{{ teacher.last_name }}</td>
      <td>{{ teacher.birth_date }}</td>
      <td>{{ teacher.phone_number }}</td>
      <td>{{ teacher.email }}</td>
      <td>{{ teacher.home_address }}</td>
      <td>
        <div style="display: flex; gap: 10px;">
          <a href="{% url 'workload-create' teacher.id %}">
            <img style="width: 25px;" src="{% static 'images/document-add.svg' %}" alt="Workload" />
          </a>
          <a href="{% url 'teacher-delete' teacher.id %}" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Trinti">
            <img style="width: 25px;" src="{% static 'images/trash.svg' %}" alt="delete" />
          </a>
          <a href="{% url 'teacher-update' teacher.id %}">
            <img style="width: 25px;" src="{% static 'images/pencil.svg' %}" alt="Edit" />
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}