{% extends 'employee-layout.html' %}
{% load static %}
{% block content %}
<style>
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
    margin: 80px 0 15px 0;
  }

  .detail-wrapper {
    display: flex;
  }

  .koefficient-detail {
    max-width: 300px;
  }

  .accordion {
   max-width: 500px;
   margin: 0 auto 0 auto;
   /* position: absolute;
   right: 0;
   top: 0; */
    
  }

  .workload-detail-list>li>div {
    text-align: center;
  }

  .accordion-header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .activity-detail-list {
    width: 100%;
    text-align: center;
  }
</style>

<h1>{{ teacher.first_name }} {{ teacher.last_name }}</h1>

<ol class="list-group list-group koefficient-detail">
  <li class="list-group-item d-flex justify-content-between align-items-start flex-column">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Gimimo metai</div>
      {{ teacher.birth_date }}
    </div>
    <div class="ms-2 me-auto">
      <div class="fw-bold">Telefonas</div>
      {{ teacher.phone_number }}
    </div>
    <div class="ms-2 me-auto">
      <div class="fw-bold">Paštas</div>
      {{ teacher.email }}
    </div>
    <div class="ms-2 me-auto">
      <div class="fw-bold">Adresas</div>
      {{ teacher.home_address }}
    </div>
  </li>
</ol>




<div class="accordion" id="accordionExample">
  <h3>Klasės</h3>
  {% for class_students in classes_students %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse{{ class_students.id }}" aria-expanded="true"
        aria-controls="collapse{{ class_students.id }}">
        <div class="accordion-header-wrapper">
          <div>
            {{class_students.class_name}}
          </div>
        </div>
      </button>
    </h2>
    <div id="collapse{{ class_students.id }}" class="accordion-collapse collapse show"
      aria-labelledby="heading{{ class_students.id }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table table-hover">
          <tbody>
            {% for student in class_students.students %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ student.name }}</td>
              <td>{{ student.surename }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}