{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <style>
    input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    .message-wrapper {
      width: fit-content;
      margin: 15px auto 0 auto;
    }
  </style>
  <div class="message-wrapper">
    {% if form.errors %}
      <p>Prisijungimo duomenys nesutampa, prašome mėginti dar kartą.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Jūsų paskyra neturi teisės patekti į šį puslapį</p>
      {% else %}
        <p>Prisijunkite</p>
      {% endif %}
    {% endif %}
  </div>

  <form style="max-width: 400px; margin: 25px auto 0 auto;" class="form-group" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <div style="width: 100%; text-align: center;">
      <button class="btn btn-primary" type="submit">Prisijungti</button>
      <a class="btn btn-secondary" href="{% url 'teacher-list' %}">Cancel</a>
    </div>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <div class="message-wrapper">
    <p>
      <a href="{% url 'password_reset' %}">Pamiršai slaptažodį?</a>
    </p>
  </div>
  <script src="{% static 'authentication/script.js' %}"></script>
{% endblock %}
